.post-container{
    padding: 40px 100px;
}

.post-list{
    width: 100%;
    border-collapse: collapse;
}

.post-list thead{
    background-color: hotpink;
    text-align: center;
}

.post-list td{
    text-align: center;
    padding: 4px 0;
}

.post-list th{
    padding: 4px 0;
}

.post-list tr{
    border-bottom: 1px solid hotpink;
}

.post-list th:nth-child(1){
    width: 15%;
}

.post-list th:nth-child(3){
    width: 20%;
}

.post-list td:nth-child(2){
    text-align: start;
}

.write-btn-box{
    margin-top: 40px;
    text-align: end;
}