.container{
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}
/* 여기저기서 사용될 ui 스타일 작성 */

.btn{
  padding: 8px 16px;
  background-color: hotpink;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 12px 4px;
}

.logo{
  width: 200px;
}

.menu-box{
  display: flex;
  align-items: center;
}

.menu{
  text-decoration: none;
  color: black;
  padding: 12px;
}

.menu:hover{
  text-decoration: underline;
}
