.container{
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}
/* 여기저기서 사용될 ui 스타일 작성 */

.btn{
  padding: 8px 16px;
  background-color: hotpink;
  color: white;
  cursor: pointer;
  font-weight: bold;
}